<header>
    <div class="header-content">
      <div class="header-content-inner">


          <img src="img/logo.svg" name=”logo”></img>
            <h1>PIERLUIGI VONA</h1>
            <br>
            <p> designer &
            <a href="https://pierluisvona.exposure.co" target="_blank">photographer</a><br>
            <a href="https://pierluisvona.github.io/plv_website/PierluigiVona-CVResume-2018.pdf" target="_blank">here its my CV</a>
            and <a href="https://www.linkedin.com/in/pierluigi-vona-30415812b/" target="_blank">here my linkedin</a></p>

        </div>
      </div>

</header>
